:root {
  --color-bg-muted: hsl(212, 45%, 89%);
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 2rem;
  --color-text: #68778D;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: var(--color-bg-muted);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  background-color: white;
  border-radius: var(--space-3);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(var(--space-3), 2.5vw, 24px);
  max-width: 320px;
  justify-content: space-between;
  gap: var(--space-5);
}

.qr-img {
  border-radius: var(--space-4);
}

.qr-title {
  font-size: var(--space-4);
  line-height: 120%;
  text-align: center;
  margin: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: var(--space-4);
}

.qr-dscr {
  font-size: var(--space-3);
  text-align: center;
  color: var(--color-text);
  line-height: 140%;
  margin: 0;
}